CRUD/WebForms/Connected Services/ClienteWcfService/ClienteWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52801/ClienteWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Models" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Models.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteWcfService_ObterClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientes" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_ObterClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_ObterCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_ObterCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_AdicionarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_AdicionarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_EditarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_EditarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_ExcluirCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWcfService_ExcluirCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteWcfService">
    <wsdl:operation name="ObterClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWcfService/ObterClientes" message="tns:IClienteWcfService_ObterClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWcfService/ObterClientesResponse" message="tns:IClienteWcfService_ObterClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWcfService/ObterCliente" message="tns:IClienteWcfService_ObterCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWcfService/ObterClienteResponse" message="tns:IClienteWcfService_ObterCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWcfService/AdicionarCliente" message="tns:IClienteWcfService_AdicionarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWcfService/AdicionarClienteResponse" message="tns:IClienteWcfService_AdicionarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWcfService/EditarCliente" message="tns:IClienteWcfService_EditarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWcfService/EditarClienteResponse" message="tns:IClienteWcfService_EditarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWcfService/ExcluirCliente" message="tns:IClienteWcfService_ExcluirCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWcfService/ExcluirClienteResponse" message="tns:IClienteWcfService_ExcluirCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteWcfService" type="tns:IClienteWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterClientes">
      <soap:operation soapAction="http://tempuri.org/IClienteWcfService/ObterClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWcfService/ObterCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWcfService/AdicionarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWcfService/EditarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWcfService/ExcluirCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteWcfService">
    <wsdl:port name="BasicHttpBinding_IClienteWcfService" binding="tns:BasicHttpBinding_IClienteWcfService">
      <soap:address location="http://localhost:52801/ClienteWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>