CRUD/WebForms/Connected Services/UfWcfService/UfWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52801/UfWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Models" />
  <xs:element name="ObterListaUf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterListaUfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Models" minOccurs="0" name="ObterListaUfResult" nillable="true" type="q1:ArrayOfUf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>